{% extends '::base.html.twig' %}

{% block title %}BlackJack Tournament{% endblock %}

{% block stylesheets %}<link href="{{asset("bundles/blackjacktournament/css/styles.css")}}" rel="stylesheet" type="text/css">{% endblock %}

{% block body %}
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="1000">
    <tbody><tr>
        <td valign="top" width="1000"><table border="0" cellpadding="0" cellspacing="0" width="1000">
                <tbody>
                <tr>
                    <td style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/homepage_header.jpg")}}" height="221" valign="top" width="1000">
                        <div class="title" style="padding-left:275px;padding-top:62px;">BlackJack Tournament</div>
                        <div class="slogan" style="padding-left:278px;padding-top:2px;">Play BlackJack tournaments for free</div>
                        <table border="0" cellpadding="0" cellspacing="0" width="350">
                        </table></td>
                </tr>
                <tr>
                    <td valign="top" width="1000"><br>
                    </td>
                </tr>
                <tr>
                    <td valign="top" width="1000"><table border="0" cellpadding="0" cellspacing="0" width="1000">
                            <tbody><tr valign="top">
                                <td width="70"><img src="{{asset("bundles/blackjacktournament/images/nav_lft.jpg")}}" height="42" width="70"></td>
                                <td width="70"><img src="{{asset("bundles/blackjacktournament/images/nav_lft.jpg")}}" height="42" width="70"></td>
                                <td style="background-repeat:no-repeat;" align="center" background="{{asset("bundles/blackjacktournament/images/lnk1.jpg")}}" valign="middle" width="101"><a href="#" class="navbar2">Home</a></td>
                                <td style="background-repeat:no-repeat;" align="center" background="{{asset("bundles/blackjacktournament/images/lnk2.jpg")}}" valign="middle" width="108"></td>
                                <td style="background-repeat:no-repeat;" align="center" background="{{asset("bundles/blackjacktournament/images/lnk3.jpg")}}" valign="middle" width="108"><a href="#" class="navbar2">Play</a></td>
                                <td style="background-repeat:no-repeat;" align="center" background="{{asset("bundles/blackjacktournament/images/lnk4.jpg")}}" valign="middle" width="108"></td>
                                <td style="background-repeat:no-repeat;" align="center" background="{{asset("bundles/blackjacktournament/images/lnk5.jpg")}}" valign="middle" width="108"><a href="#" class="navbar2">Highscores</a></td>
                                <td style="background-repeat:no-repeat;" align="center" background="{{asset("bundles/blackjacktournament/images/lnk6.jpg")}}" valign="middle" width="108"></td>
                                <td style="background-repeat:no-repeat;" align="center" background="{{asset("bundles/blackjacktournament/images/lnk7.jpg")}}" valign="middle" width="108"><a href="#" class="navbar2">Who is online?</a></td>
                                <td width="70"><img src="{{asset("bundles/blackjacktournament/images/nav_rite.jpg")}}" height="42" width="70"></td>
                                <td width="70"><img src="{{asset("bundles/blackjacktournament/images/nav_rite.jpg")}}" height="42" width="70"></td>
                            </tr>
                            </tbody></table></td>
                </tr>
                <tr>
                    <td valign="top" width="1000"><table align="center" border="0" cellpadding="0" cellspacing="0" width="860">
                            <tbody><tr valign="top">
                                <td style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/pokr_rom_bg.jpg")}}" height="151" valign="middle" width="200"><table align="center" border="0" cellpadding="0" cellspacing="0" width="175">
                                        <tbody><tr>
                                            <td class="head-4" align="center" height="38" valign="top" width="175">User 1 VS User 2</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-2" valign="top" width="175">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                                        </tr>
                                        <tr>
                                            <td height="30" valign="middle" width="175"></td>
                                        </tr>
                                        </tbody></table></td>
                                <td height="151" width="20">&nbsp;</td>
                                <td style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/pokr_rom_bg.jpg")}}" height="151" valign="middle" width="200"><table align="center" border="0" cellpadding="0" cellspacing="0" width="175">
                                        <tbody><tr>
                                            <td class="head-4" align="center" height="38" valign="top" width="175">User 1 VS User 2</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-2" valign="top" width="175">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                                        </tr>
                                        <tr>
                                            <td height="30" valign="middle" width="175"></td>
                                        </tr>
                                        </tbody></table></td>
                                <td height="151" width="20">&nbsp;</td>
                                <td style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/pokr_rom_bg.jpg")}}" height="151" valign="middle" width="200"><table align="center" border="0" cellpadding="0" cellspacing="0" width="175">
                                        <tbody><tr>
                                            <td class="head-4" align="center" height="38" valign="top" width="175">User 1 VS User 2</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-2" valign="top" width="175">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                                        </tr>
                                        <tr>
                                            <td height="30" valign="middle" width="175"></td>
                                        </tr>
                                        </tbody></table></td>
                                <td height="151" width="20">&nbsp;</td>
                                <td style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/pokr_rom_bg.jpg")}}" height="151" valign="middle" width="200"><table align="center" border="0" cellpadding="0" cellspacing="0" width="175">
                                        <tbody><tr>
                                            <td class="head-4" align="center" height="38" valign="top" width="175">User 1 VS User 2</td>
                                        </tr>
                                        <tr>
                                            <td class="txt-2" valign="top" width="175">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                                        </tr>
                                        <tr>
                                            <td height="30" valign="middle" width="175"></td>
                                        </tr>
                                        </tbody></table></td>
                            </tr>
                            </tbody></table></td>
                </tr>
                <tr>
                    <td style="background-repeat:repeat-x;" background="{{asset("bundles/blackjacktournament/images/pokr_rom_btm_bg.jpg")}}" height="25" valign="top" width="1000">&nbsp;</td>
                </tr>
                </tbody></table></td>
    </tr>
    <tr>
    <td valign="top" width="1000"><table align="center" border="0" cellpadding="0" cellspacing="0" width="920">
    <tbody><tr valign="top">
    <td width="270"><table border="0" cellpadding="0" cellspacing="0" width="230">
            <tbody><tr>
                <td valign="top" width="230">&nbsp;</td>
            </tr>
            <tr>
                <td class="txt-1" style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/onl_pokr_lnks.jpg")}}" height="40" valign="middle" width="230">Advertisement 1</td>
            </tr>
            <tr>
                <td valign="top" width="230"><table bgcolor="#646A7A" border="0" cellpadding="0" cellspacing="0" width="230">
                        <tbody><tr valign="top">
                            <td width="40">&nbsp;</td>
                            <td width="190">&nbsp;</td>
                        </tr>
                        <tr valign="top">
                            <td class="advertisement-content" colspan="2" height="22" valign="middle">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                        </tr>
                        <tr valign="top">
                            <td height="20">&nbsp;</td>
                            <td height="20">&nbsp;</td>
                        </tr>
                        </tbody></table></td>
            </tr>
            <tr>
                <td valign="top" width="230">&nbsp;</td>
            </tr>
            <tr>
                <td class="txt-1" style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/onl_pokr_lnks.jpg")}}" height="40" valign="middle" width="230">Advertisement 2</td>
            </tr>
            <tr>
                <td valign="top" width="230"><table bgcolor="#646A7A" border="0" cellpadding="0" cellspacing="0" width="230">
                        <tbody><tr valign="top">
                            <td width="40">&nbsp;</td>
                            <td width="190">&nbsp;</td>
                        </tr>
                        <tr valign="top">
                            <td class="advertisement-content" colspan="2" height="22" valign="middle">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                        </tr>
                        <tr valign="top">
                            <td height="20">&nbsp;</td>
                            <td height="20">&nbsp;</td>
                        </tr>
                        </tbody></table></td>
            </tr>
            <tr>
                <td valign="top" width="230">&nbsp;</td>
            </tr>
            <tr>
                <td class="txt-1" style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/onl_pokr_lnks.jpg")}}" height="40" valign="middle" width="230">Advertisement 3</td>
            </tr>
            <tr>
                <td valign="top" width="230"><table bgcolor="#646A7A" border="0" cellpadding="0" cellspacing="0" width="230">
                        <tbody><tr valign="top">
                            <td width="40">&nbsp;</td>
                            <td width="190">&nbsp;</td>
                        </tr>
                        <tr valign="top">
                            <td class="advertisement-content" colspan="2" height="22" valign="middle">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                        </tr>
                        <tr valign="top">
                            <td height="20">&nbsp;</td>
                            <td height="20">&nbsp;</td>
                        </tr>
                        </tbody></table></td>
            </tr>
            <tr>
                <td valign="top" width="230">&nbsp;</td>
            </tr>
            <tr>
                <td class="txt-1" style="background-repeat:no-repeat;" background="{{asset("bundles/blackjacktournament/images/onl_pokr_lnks.jpg")}}" height="40" valign="middle" width="230">Advertisement 4</td>
            </tr>
            <tr>
                <td valign="top" width="230"><table bgcolor="#646A7A" border="0" cellpadding="0" cellspacing="0" width="230">
                        <tbody><tr valign="top">
                            <td width="40">&nbsp;</td>
                            <td width="190">&nbsp;</td>
                        </tr>
                        <tr valign="top">
                            <td class="advertisement-content" colspan="2" height="22" valign="middle">Suspendisse fermentum euismod mi id con dimen tum. Cras nec ipsume est. Etiam consectetur eros ac erat venenatis gravida.</td>
                        </tr>
                        <tr valign="top">
                            <td height="20">&nbsp;</td>
                            <td height="20">&nbsp;</td>
                        </tr>
                        </tbody></table></td>
            </tr>
            <tr>
                <td valign="top" width="230">&nbsp;</td>
            </tr>
            </tbody></table></td>
            <td width="650"><table align="center" border="0" cellpadding="0" cellspacing="0" width="640">
            <tbody><tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td class="head-1" valign="top" width="640">Welcome to Ultimate Casino</td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td class="txt-2" valign="top" width="640">Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit. Nullam in mauris at sem mattis
                    elementum. Etiam erat nunc, venenatis quis ultrices vulpu tate, iaculis
                    ac odio. Nullam non laoreet sapien. Morbi adipiscing, lacus non tempus
                    porta, ligula tellus pulvinar neque sodales ligula nisl eget augue.
                    <p>Aliquam cursus, lorem vitae blandit lobortis, felis
                        mi laoreet arcu, ac vehicula ligula elit nec mauris. Integer quis mauris
                        sed odio ferm entum portti tor in ac orci. Morbi vel felis metus, non
                        varius est. Nunc venenatis, diam ut facilisis suscipit, sapien felis
                        vulputate erat sed viverra magna diam vel mauris. </p></td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td class="head-1" valign="top" width="640">List of Top Casinos</td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" width="640"><table align="center" border="0" cellpadding="0" cellspacing="0" width="630">
                        <tbody><tr>
                            <td style="background-repeat:repeat-x;" background="../src/BlackJack/Bundle/TournamentBundle/Resources/public/images/cntr_bg.jpg" height="35" valign="top" width="630"><table border="0" cellpadding="0" cellspacing="0" width="630">
                                    <tbody><tr valign="top">
                                        <td align="right" height="35" valign="middle" width="30"><img src="../src/BlackJack/Bundle/TournamentBundle/Resources/public/images/cntr_bult.jpg" height="11" width="11"></td>
                                        <td class="txt-5" height="35" valign="middle" width="600">Casino Name</td>
                                    </tr>
                                    </tbody></table></td>
                        </tr>
                        <tr>
                            <td bgcolor="#646A7A" height="135" valign="middle" width="630"><table border="0" cellpadding="0" cellspacing="0" width="630">
                                    <tbody><tr valign="top">
                                        <td align="center" width="170"><a href="#"><img src="../src/BlackJack/Bundle/TournamentBundle/Resources/public/images/cntr_pic.jpg" border="0" height="107" width="140"></a></td>
                                        <td class="txt-2" width="460">Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit. Nullam in mauris at sem mattis
                                            elemen tum. Etiam eranunc, venenatis quis ultrices vulputate, iaculis ac
                                            odio. Nullam non laoreet sap ien. Morbi adipiscing, lacus non tempus
                                            porta.
                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Nullam in mauris at sem mattis elemen tum. Etiam
                                                eranunc, venenatis quis ultrices vulputate. &nbsp;<a href="#" class="navbar5">MORE</a></p></td>
                                    </tr>
                                    </tbody></table></td>
                        </tr>
                        </tbody></table></td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" width="640"><table align="center" border="0" cellpadding="0" cellspacing="0" width="630">
                        <tbody><tr>
                            <td style="background-repeat:repeat-x;" background="../src/BlackJack/Bundle/TournamentBundle/Resources/public/images/cntr_bg.jpg" height="35" valign="top" width="630"><table border="0" cellpadding="0" cellspacing="0" width="630">
                                    <tbody><tr valign="top">
                                        <td align="right" height="35" valign="middle" width="30"><img src="../src/BlackJack/Bundle/TournamentBundle/Resources/public/images/cntr_bult.jpg" height="11" width="11"></td>
                                        <td class="txt-5" height="35" valign="middle" width="600">Casino Name</td>
                                    </tr>
                                    </tbody></table></td>
                        </tr>
                        <tr>
                            <td bgcolor="#646A7A" height="135" valign="middle" width="630"><table border="0" cellpadding="0" cellspacing="0" width="630">
                                    <tbody><tr valign="top">
                                        <td align="center" width="170"><a href="#"><img src="../src/BlackJack/Bundle/TournamentBundle/Resources/public/images/cntr_pic.jpg" border="0" height="107" width="140"></a></td>
                                        <td class="txt-2" width="460">Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit. Nullam in mauris at sem mattis
                                            elemen tum. Etiam eranunc, venenatis quis ultrices vulputate, iaculis ac
                                            odio. Nullam non laoreet sap ien. Morbi adipiscing, lacus non tempus
                                            porta.
                                            <p>Lorem ipsum dolor sit amet, consectetur
                                                adipiscing elit. Nullam in mauris at sem mattis elemen tum. Etiam
                                                eranunc, venenatis quis ultrices vulputate. &nbsp;<a href="#" class="navbar5">MORE</a></p></td>
                                    </tr>
                                    </tbody></table></td>
                        </tr>
                        </tbody></table></td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            <tr>
                <td valign="top" width="640">&nbsp;</td>
            </tr>
            </tbody></table></td>
    </tr>
    </tbody></table></td>
    </tr>
    </tbody></table>
{% endblock %}